@font-face {
  font-family: "Titillium";
  src: local("Titillium"),
   url("./fonts/Titillium/Titillium-Semibold.otf") format("truetype");
}

@font-face {
  font-family: "F1";
  src: local("F1"),
   url("./fonts/Formula1-Regular.otf") format("truetype");
}

body {
  margin: 0;
  font-family: 'F1';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}